<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
    <title>Http Invoker</title>
</h:head>

<body>
<h1>Operaciones</h1>

<h3>Suma</h3>
<h:form>
    <h:outputText value="N1: "/>
    <h:inputText value="#{numeros.n1}"/>

    <br/>

    <h:outputText value="N2: "/>
    <h:inputText value="#{numeros.n2}"/>

    <br/>
    <br/>

    <h:commandButton value="Enviar" action="#{indexController.enviar(numeros)}"/>

    <br/>
    <br/>
    <h:commandButton value="Resultaado" action="#{indexController.resultado}"/>
    <h:outputText value="#{indexController.result}"/>

</h:form>
</body>
</html>
